header {
    display: grid;
    grid-area: hd;
    justify-content: center;
}

.sidebar {
    display: grid;
    grid-area: sd;
    justify-content: flex-start;
}

.content {
    grid-area: main;
}

.footer {
    grid-area: ft;
}