h1 {
    margin-left: 30px;
    text-decoration: underline;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.content {
    display: grid;
    grid-area: main;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.footer {
    grid-area: ft;
}