@import url(../CSS/styles.css);

@import url(../CSS/navbar.css);

@import url(../CSS/blog.css);

body {
    font-family: 'Comforter', cursive, monospace;
    background-image: url(../Images/moonimg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "hd hd hd hd"
    "sd sd main main"
    "ft ft ft ft";
    grid-gap: 10px;
    height: calc(100vh - 10px);
}

