.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
}

.nav-links-2 li {
    list-style: none;
}

.nav-links-2 a {
    color: white;
}

.nav-links a:hover {
    color: lightseagreen;
}

.nav-links-2 a:hover {
    color: lightseagreen;
}