.header {
    display: grid;
    grid-area: hd;
}

h1 {
    text-align: center;
    margin-left: 30px;
}

ul {
    list-style: none;
}

.sidebar {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-area: sd;
}

.blogs {
    box-shadow: 5px 5px grey;
    padding: 10px;
    margin: 10px;
}

.content {
    grid-area: main;
}

.footer {
    display: grid;
    grid-area: ft;
}