h1 {
    text-align: center;
    margin-left: 30px;
}

ul {
    list-style: none;
}

input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.section {
    box-shadow: 5px 5px grey;
    background-image: url(../Images/stripes.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightblue;
}

.section a {
    color: blue;
}